.md-grid {
    margin-left: auto;
    margin-right: auto;
    /* max-width: 100rem; */
}

/* Hide the logo and site name in the header */
.md-header__title {
    display: none;
}

/* Default - Hide the logo on all pages */
.md-header__inner .md-logo {
    display: none;
}

/* Show the logo on all pages except the home page */
.show-logo .md-header__inner .md-logo {
    display: block;
}

/* Optional: Adjust the shadow to be none, for a seamless look */
.md-header--shadow {
    box-shadow: none;
}

/* Hide the footer box */
.md-footer {
    display: none;
}



/* Custom background color for slate (dark mode) */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #000000;
    /* Set the background to black */
    --md-default-fg-color: #ffffff;
    /* Set the text color to white for contrast */
}

/* Optional: adjust background color for dark mode */
body[data-md-color-scheme="slate"] .md-header {
    background-color: var(--md-default-bg-color-dark);
}

/* Match the header background color to the page background in light mode */
body[data-md-color-scheme="default"] .md-header {
    background-color: var(--md-default-bg-color);
}


/* Light mode (when body has data-md-color-scheme="default") - icons in black */
body[data-md-color-scheme="default"] .md-header__button[for="__search"] svg,
body[data-md-color-scheme="default"] .md-header__button[for="__palette_0"] svg,
body[data-md-color-scheme="default"] .md-header__button[for="__palette_1"] svg,
body[data-md-color-scheme="default"] .md-header__button[for="__palette_2"] svg {
    fill: black;
    /* Icons in black for light mode */
}


/* Optional: adjust background color for dark mode */
body[data-md-color-scheme="slate"] .md-header {
    background-color: var(--md-default-bg-color-dark);
}

/* Match the header background color to the page background in light mode */
body[data-md-color-scheme="default"] .md-header {
    background-color: var(--md-default-bg-color);
}
