.vscode/
/examples/*
!/examples/01_flyvision_connectome.ipynb
!/examples/02_flyvision_optic_flow_task.ipynb
!/examples/03_flyvision_flash_responses.ipynb
!/examples/07_flyvision_providing_custom_stimuli.ipynb

/data/**
!data/connectome/fib25-fib19_v2.2.json
!/data/results

*.code-workspace
*.egg-info
.pytest_cache

*.log
**/__pycache__
**/**/__pycache__
.coverage
flyvision/config.json